<% layout('layout/page') -%>
<% block('title', "Чат") -%>

<script src="/socket.io/socket.io.js"></script>

<div id="room">
  <ul></ul>
  <form>
    <input class="form-control" autocomplete="off" autofocus placeholder="Сообщение..."/>
  </form>
</div>

<script>
  const socket = io({transports: ['websocket'], upgrade: false})
  , form = $('#room form')
  , ul = $('#room ul')

  form.submit(function(ev) {
    console.log({ev})
    const input = $(this).find('input')
    , text = input.val()
    input.val('')

    socket.emit('message', text, _ =>
      $('<li>', {text}).appendTo(ul)
    )

    return false;
  })

  socket.on('message', text =>
    $('<li>', {text}).appendTo(ul)
  )

</script>
