<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Главная</a></li>
    <% if (user) { %>
    <li><a href="/chat">Чат</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (user) { %>
    <form method="POST" action="/logout"><input type="submit" value="Выйти"/></form>
    <% } else { %>
    <li><a href="/login">Войти</a></li>
    <% } %>
  </ul>
</nav>